body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;

}

.navbar {
    height: 5rem;
    background-color: #fff;
}

.fa-compass {
    color: rgb(228, 22, 22);
    font-size: 2rem;
}

.nav-link {
    color: #1b0000 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-into-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-into-socials i {
    font-size: 1.3rem;
    margin-right: 1rem;
    color: black;
}

.f-info {
    display: flex;
    height: 8rem;
    background-color: #f7f7f7;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    background: #ffffff;
    opacity: 0.2;
}

.add-btn {
    background-color: rgb(228, 22, 22) !important;
    border: none !important;
}

.show-img {
    height: 30vh;
    width: 50vh !important;
}

.btns {
    display: flex;
}

.edit-btn {
    background-color: rgb(228, 22, 22) !important;
    border: none !important;
}